.main-background {
    display: flex;
    justify-content: center;
    align-items: center;
    color: beige;
    height: 90vh;
    width: 100%;
    background-image: url(image-path('main-background.jpg'));
    background-size: cover;
  }